
      <h1>You're a bot</h1>
      <form action="" method="GET">
        <input type="text" name="text" maxlength="100" value="{{{retort}}}" placeholder="Enter some text!">
        <button type="submit">Submit</button>
      </form>
      <section class="devastation-box">
        {{retort}}
      </section>
  